<footer>
    <p>Music Market Inc. &copy; 2021</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AShZvR5qlkK3jRPf9AY-PRYt0GQpERWqFHVLNrzrPXQR0K_jPJ_awOZm-e_1rPc_1e9q2BypzqK4_swz&disable-funding=credit"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).foundation();
</script>
{{#if loggedIn}}
<script src="../javascript/add-to-cart.js"></script>
<script src="../javascript/checkout.js"></script>
{{/if}}