<nav id="nav-container grid-container">
    <div class="grid-x">
        <div class="cell large-10 medium-9 small-8">
            <ul class="menu dropdown navbarLinks" data-dropdown-menu>
                <li class="menu-text">Music Market</li>
                <li>
                    Browse
                    <ul class="menu">
                        <li>All Catagories</li>
                        <!-- will need more categories -->
                        <li>All Catagories</li>

                        <li>All Catagories</li>
                        <li>All Catagories</li>
                        <li>All Catagories</li>
                        <li>All Catagories</li>

                    </ul>
                </li>
                <li>Deals</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="cell large-2 medium-3 small-4">
            <ul class="menu profileLink">
                <li>Profile</li>
            </ul>
        </div>
    </div>
</nav>