*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --creme-color: #F9FAF4;
    --off-black-color: #4A6163;
    --orange-color: #F9A66C;
    --yellow-color: #FFC94B;
    --red-color: #F17A7E;
}

body{
    font-size: 1.25rem;
    background-color: var(--creme-color);
    color: var(--off-black-color);
}

/* ======================================================= */
/*                         Nav Bar                         */
/* ======================================================= */

.menu{
    background-color: var(--red-color);
    color: var(--creme-color);
}

.profileLink{
    height: 100%;
    z-index: 0;
    -moz-transition: z-index 0s .5s;
    transition: z-index 0s .5s;
}

.navbarLinks{
    z-index: 0;
    -moz-transition: z-index 0s .5s;
    transition: z-index 0s .5s;
}

:is(.navbarLinks, .profileLink):hover{
    z-index: 9999;
    -moz-transition: z-index 0s 0s;
    transition: z-index 0s 0s;
}

.profileLink > li{
    z-index: 1;
    padding: 8.75% 0 8.75% 60%;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
}

.navbarLinks > li{
    z-index: 1;
    padding: 1.75% 0 1.75% 2%;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
}

.navbarLinks > li > ul{
    border: 0;
}

.navbarLinks > li > ul > li{
    color: var(--off-black-color);
    background-color: var(--orange-color);
    transition: .3s
}

.profileLink > li:hover, .navbarLinks >li:hover{
    z-index: 9999;
    color: var(--red-color);
    background: var(--yellow-color);
    box-shadow: 0 -1700px 0 1700px var(--yellow-color);
}

.menu-text{
    padding: 1.75rem 3rem 1.75rem 3rem !important;
    font-size: 2rem;
}


/* ======================================================= */
/*                          main                           */
/* ======================================================= */

main{
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 53.5rem;
}

.banner-container{
    display: flex;
    /*! flex-wrap: wrap; */
}

.banner-flavor-text{
    width: 20%;
    margin: 12.5% 0 0 14%;
    font-size: 230%;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
    color: var(--yellow-color);
}

.banner-divider{
    margin: 12.5% 0 0 32%;
}

.card{
    background-color:  var(--creme-color);
    border: none;
    height: 25rem;
    font-size: 1.75rem;
}

.card-divider, .reveal > h2{
    padding: 1rem 6.5rem;
    background-color: var(--red-color);
    color: var(--creme-color);
    /*! text-align: center; */
}

.card-section{
    font-size: 1rem;
    color: var(--off-black-color);
}

.card-section > p{
    margin-top: .95rem;
}

.orange-black-button{
    margin: 10% 0 0 0;
    font-size: 1.75rem;
    font-weight: bolder;
    color: var(--off-black-color);
    background-color: var(--orange-color);
    padding: 2rem;
    outline: none;
    border: none;
    transition: .3s;
}

.orange-black-button-small, .modal-submit-button{
    margin: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--off-black-color);
    background-color: var(--orange-color);
    padding: 1rem;
    outline: none;
    border: none;
    width: 87%;
    transition: .3s
}

:is(.orange-black-button, .orange-black-button-small, .modal-submit-button, .navbarLinks > li > ul > li):hover{
    background-color: var(--yellow-color);
    color: var(--red-color);
}

.reveal{
    background-color: var(--creme-color);
    color: var(--off-black-color);
    border: 0;
    padding: 0;
}

.reveal > h2{
    padding: .25rem 0 .25rem 1rem;
}

.reveal > form{
    margin: 1rem;
}

.close-button{
    color: var(--creme-color);
}

.modal-submit-button{
    font-size: 1rem;
    width: 20%;
    float: right;
}

/* ======================================================= */
/*                     About Section                       */
/* ======================================================= */

.left-about, .right-about{
    margin: 5rem;
    width: 40%;
}

.left-about{
    text-align: left;
}

.right-about{
    margin-top: 3rem;
    text-align: right;
    float: right;
}

.faux-border{
    width: 92%;
    margin: 0 auto;
    color: var(--creme-color);
    border-top: solid 1px var(--off-black-color);
}

.left-about-img > img, .right-about-img > img{
    margin: 3rem 0 3rem 12rem;
    width: 45%;
}

.right-about-img > img{
    margin: 1rem 0 2rem 17rem;
}

.About > div{
    display: flex;
}

/* ======================================================= */
/*                         Footer                          */
/* ======================================================= */

footer{
    background-color: var(--off-black-color);
    color: var(--creme-color);
    text-align: center;
    padding: 3rem;
}